<!DOCTYPE html>
<html>
<head>
<title>Website Monitor</title>
<meta http-equiv="refresh" content="10">
</head>

<body>

<style>

body{
font-family:Arial;
background:#f4f6f8;
margin:40px;
}

table{
border-collapse:collapse;
width:100%;
background:white;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

th{
background:#222;
color:white;
padding:12px;
}

td{
padding:10px;
border-bottom:1px solid #eee;
}

.up{
color:green;
font-weight:bold;
}

.down{
color:red;
font-weight:bold;
}

</style>

<h2>Website Monitoring Dashboard</h2>

<canvas id="responseChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

fetch("/response-data")
.then(res => res.json())
.then(data => {

    const ctx = document.getElementById('responseChart').getContext('2d');

    const colors = [
        "red",
        "blue",
        "green",
        "orange",
        "purple",
        "brown"
    ];

    let datasets = [];
    let labels = [];

    let i = 0;

    for (const website in data) {

        if (labels.length === 0) {
            labels = data[website].timestamps;
        }

        datasets.push({
            label: website,
            data: data[website].response,
            borderColor: colors[i % colors.length],
            borderWidth: 2,
            fill: false
        });

        i++;
    }

    new Chart(ctx, {
        type: "line",
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: "top"
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: "Response Time (seconds)"
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Timestamp"
                    }
                }
            }
        }
    });

});

</script>

<table border="1">

<tr>
<th>Website</th>
<th>Time</th>
<th>Status</th>
<th>Response Time</th>
</tr>

{% for row in data %}

<tr>
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>

<td>
{% if row[2] == 200 %}
UP
{% else %}
DOWN
{% endif %}
</td>

<td>{{row[3]}}</td>

</tr>

{% endfor %}

</table>

</body>
</html>

</body>
</html>
